{% extends "layouts/main.html" %}

{% set pageName = "Registration submitted" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Registration submitted</h1>
      <div class="govuk-panel__body">
        Your reference number<br>
        <strong>{{ data["reference"] }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We have received your registration to meet aliens. We will review your application and match you with suitable alien visitors based on your interests and their availability.</p>
    <p class="govuk-body">We will contact you within 10 working days with details of potential meetings.</p>
    <p class="govuk-body"><a href="/start" class="govuk-link">Start a new application</a></p>

  </div>
</div>
{% endblock %}
